# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# Editors & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Logs & temp
*.log
*.tmp
*.bak
